{% extends 'main/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"  type="text/css" href="{% static 'css\top.css' %}">
	<section>
		<div class="below">
			<h2>ТОП игроков MurderMystery</h2>
			<table border="0" cellspacing="15px">
				<tr>
					<th><p>№</p></th><th><p>Игрок</p></th><th><p>Побед</p></th></th><th><p>Убийств</p></th><th><p>Игр</p></th>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">1.</p></td align="center"><td align="center"><p>NickKall</p></td><td align="right"><p>518</p></td><td align="right"><p>5438</p></td><td align="right"><p>715</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">2.</p></td><td align="center"><p>vyshelpokurit</p></td><td align="right"><p>509</p></td><td align="right"><p>5614</p></td><td align="right"><p>714</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">3.</p></td><td align="center"><p>YUSTIK</p></td><td align="right"><p>460</p></td><td align="right"><p>1655</p></td><td align="right"><p>559</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">4.</p></td><td align="center"><p>DIEF0RME</p></td><td align="right"><p>400</p></td><td align="right"><p>2296</p></td><td align="right"><p>546</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">5.</p></td><td align="center"><p>Dolly___</p></td><td align="right"><p>388</p></td><td align="right"><p>2023</p></td><td align="right"><p>465</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">6.</p></td><td align="center"><p>***JERMANS***</p></td><td align="right"><p>381</p></td><td align="right"><p>1269</p></td><td align="right"><p>433</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">7.</p></td><td align="center"><p>hannah_jooo</p></td><td align="right"><p>327</p></td><td align="right"><p>1562</p></td><td align="right"><p>427</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">8.</p></td><td align="center"><p>_kkyalka_</p></td><td align="right"><p>324</p></td><td align="right"><p>2805</p></td><td align="right"><p>420</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">9.</p></td><td align="center"><p>antisocial_</p></td><td align="right"><p>294</p></td><td align="right"><p>1918</p></td><td align="right"><p>411</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">10.</p></td><td align="center"><p>_ItsFenw1ck_</p></td><td align="right"><p>279</p></td><td align="right"><p>1928</p></td><td align="right"><p>324</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">11.</p></td><td align="center"><p>Beelore</p></td><td align="right"><p>282</p></td><td align="right"><p>1941</p></td><td align="right"><p>329</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">12.</p></td><td align="center"><p>Elite_ryan</p></td><td align="right"><p>249</p></td><td align="right"><p>1932</p></td><td align="right"><p>460</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">13.</p></td><td align="center"><p>assefoxxx</p></td><td align="right"><p>534</p></td><td align="right"><p>1654</p></td><td align="right"><p>457</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">14.</p></td><td align="center"><p>lebenov2.0</p></td><td align="right"><p>223</p></td><td align="right"><p>2345</p></td><td align="right"><p>375</p></td>
				</tr>
				<tr>
					<td align="center"><p style="width: 40px;">15.</p></td><td align="center"><p>_Its_Master_</p></td><td align="right"><p>259</p></td><td align="right"><p>4578</p></td><td align="right"><p>386</p></td>
				</tr>
			</table>
		</div>
	</section>
{% endblock %}
