{% extends 'main/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"  type="text/css" href="{% static 'css\pravila.css' %}">
	<section>
		<div class="allrules">
			<div class="clearfix">
				<div class="d-flex justify-content-center">
				<ul class="nav nav-tabs" style="margin-top:30px; ">
					<li class="nav-item">
						<a class="nav-link" href="rules" style="color:#90EE90;">Термины</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="obzhie_pravila" style="color:#fff; background: #90EE90;">Общие правила</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pravila_dla_donaterov" style="color:#90EE90;">Правила для донатеров</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pravila_stroitelstva" style="color:#90EE90;">Правила строительства</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pravila_administrirovania" style="color:#90EE90;">Правила администрирования</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pravila_obzhenia" style="color:#90EE90;">Правила общения</a>
					</li>
				</ul>
				</div>
				<div class="d-flex justify-content-center">
				<div class="rules">
					<ol>
						<li><p>Регистрируясь на сервере, пользователь автоматически подтверждает свою осведомленность и согласие с данным сводом правил.</p></li>
						<li><p>Пользователь обязуется самостоятельно следить за изменениями правил.</p></li>
						<li><p>Проект является структурой, предоставляющей игровые услуги, без каких-либо гарантий корректной работы. Вы соглашаетесь с тем, что любые потерянные вами игровые ресурсы, платежи; товары, купленные в онлайн магазине и прочее, не возвращаются ни при каких условиях и обстоятельствах.</p></li>
						<li><p>Вы подтверждаете свое согласие с тем, что администрация проекта не несет перед вами никакие обязательства, и принимаете то, что игра на проекте предоставляется "как есть" и отказываетесь от каких-либо претензий к их решениям и действиям. Соглашаетесь с тем, что другие члены команды также не несут перед вами каких-либо дополнительных обязательств, кроме общих и должностных, указанных в этом своде правил.</p></li>
						<li><p>Администрация проекта оставляют за собой право закрыть пользователю возможность игры на игровых серверах проекта по своему усмотрению.</p></li>
						<li><p>При блокировке аккаунта администрация не возвращает любые игровые ценности и не передает их третьим лицам. Так же игровые ценности могут быть удалены, если:</p></li>
						<ol>
							<li><p>Игрок не может предоставить доказательства их получения.</p></li>
							<li><p>Игрок отсутствовал на проекте 30 и более дней.</p></li>
							<li><p>Был объявлен вайп сервера.</p></li>
							<li><p>Произошел технический сбой по независящим от администрации причинам.</p></li>
						</ol>
						<li><p>Правила общения относятся ко всем видам передачи информации на серверах.</p></li>
						<li><p>Запрещено регистрировать игровые ники:</p></li>
						<ol>
							<li><p>Состоящие из бессмысленного набора символов/цифр.</p></li>
							<li><p>Нарушающие нормы морали и приличия.</p></li>
							<li><p>Имеющие рекламный подтекст.</p></li>
							<li><p>Содержащие оскорбительный, нецензурный или сексуальный (порнографический) характер.</p></li>
							<li><p>Схожие с никами Команды проекта.</p></li>
							<li><p>Содержащие технические слова (Server, Op, Admin,...)</p></li>
						</ol>
						<li><p>Запрещено устанавливать скины или плащи:</p></li>

						<ol>
							<li><p>Содержащие оскорбительный или нецензурный характер.</p></li>
							<li><p>Носящие порнографический характер.</p></li>
							<li><p>Имеющие отношение к нацизму.</p></li>
						</ol>
						<li><p>На серверах запрещена любая коммерческая деятельность (покупать, обменивать, продавать, предоставлять какие-либо услуги за реальные деньги и прочее).</p></li>
						<li><p>Запрещена реклама и упоминание стронних проектов в любом виде.</p></li>
						<li><p>Запрещено использование стороннего программного обеспечения, кликеры, программы для взлома, багов, недочетов, дюпов или других нестандартных средств для получения преимущества над другими игроками, а также распространять любую информацию о их существовании.</p></li>
						<li><p>Администрация и прочий персонал проекта ведут логи (записи) всех действий игроков (в том числе с помощью автоматического запроса скриншотов в одностороннем порядке) на сервере и всех сообщений игрового чата.</p></li>
						<li><p>Запрещено использование более 1 игрового аккаунта на пользователя.</p></li>
					</ol>
					<p>Наказание ко всем пунктам: Блокировка аккаунта с удалением игровых ресурсов и построек пользователя.</p>
				</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}