{% extends 'main/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"  type="text/css" href="{% static 'css\pravila.css' %}">
	<section>
		<div class="allrules">
			<div class="clearfix">
				<div class="d-flex justify-content-center">
				<ul class="nav nav-tabs" style="margin-top:30px; ">
					<li class="nav-item">
						<a class="nav-link" href="rules " style="color:#90EE90;">Термины</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="obzhie_pravila" style="color:#90EE90;">Общие правила</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pravila_dla_donaterov" style="color:#90EE90;">Правила для донатеров</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pravila_stroitelstva" style="color:#90EE90;">Правила строительства</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="pravila_administrirovania" style="color:#fff; background: #90EE90;">Правила администрирования</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="pravila_obzhenia" style="color:#90EE90;">Правила общения</a>
					</li>
				</ul>
				</div>
				<div class="d-flex justify-content-center">
				<div class="rules">
					<ol>
						<li><p>Звания административного состава — Хелпер, Модератор и Оператор.</p></li>
						<li><p>Хелпер/Модератор должен быть вежливым, общительным, адекватным и толерантным по отношению к любым ситуациям. Помните, Вы лицо нашего проекта!</p></li>
						<li><p>Хелперу/Модератору запрещено вмешиваться в игровой процесс.</p></li>
						<li><p>Хелпер/Модератор должен уметь давать отчет своим действиям любому члену администрации.</p></li>
						<li><p>Личное отношение Хелпера/Модератора не должно влиять на его решение.</p></li>
						<li><p>Хелпер/Модератор не имеет права использовать свои возможности для собственной выгоды, а также для выгоды в пользу третьих лиц.</p></li>
						<li><p>Все замечания игрокам выносятся в личных сообщениях, замечания в глобальном чате запрещены!</p></li>
						<li><p>Перед выдачей наказания Хелпер/Модератор обязан вежливо попросить перестать нарушать правила при помощи личных сообщений.</p></li>
						<li><p>При выдаче наказания обязательно должна быть указана причина в рамках правил игрового режима.</p></li>
						<li><p>Хелпер/Модератор обязан хранить доказательства вины (скрин нарушения, предупреждения, и выдачи наказания) того или иного игрока и предъявлять их в спорных ситуациях.</p></li>
						<li><p>В конфликтной ситуации или в ситуации где Хелперу не хватает полномочий на какие-то действия, он обязан сообщить об этом Оператору игрового режима.</p></li>
						<li><p>Хелпер/Модератор обязан знать правила и следить за обновлениями на этой странице.</p></li>
						<li><p>Хелпер/Модератор может быть снят со своей должности из-за:</p></li>
						<ol>
							<li><p>Неисполнение правил проекта.</p></li>
							<li><p>Неисполнение требований к административному составу.</p></li>
							<li><p>Из-за большого количества адекватных жалоб игроков.</p></li>
							<li><p>Из-за замечаний от Оператора игрового режима (максимально количество замечаний — 3).</p></li>
						</ol>
						<li><p>Оператор в праве снимать с должности в любой момент любого Хелпера/Модератора без видимых причин на то.</p></li>
					</ol>
				</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}