{% extends 'main/index.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"  type="text/css" href="{% static 'css\pravila.css' %}">
	<section>
		<div class="allrules">
			<div class="clearfix">
				<div class="menurules">
						<ol>
						<li>
							<a href="termini.html">
								<p class="rules1">Термины</p>
							</a>							
						</li>
						<li>
							<a href="obzhie_pravila.html">
								<p class="rules2">Общие правила</p>
							</a>						
						</li>
						<li>
							<a href="pravila_dla_donaterov.html">
								<p class="rules2">Правила для донатеров</p>
							</a>									
						</li>
						<li>
							<a href="pravila_stroitelstva.html">
								<p class="rules2">Правила строительства</p>
							</a>							
						</li>
						<li>
							<a href="pravila_administrirovania.html">
								<p class="rules2">Правила администрирования</p>
							</a>
						</li>
						<li>
							<a href="pravila_obzhenia.html">
								<p class="rules2">Правила общения</p>
							</a>		
						</li>
					</ol>
				</div>
				<div class="rules">
					<p>В этом списке приведены термины, относящиеся к игре, а также их краткие объяснения.</p>
					<ul>
						<li><p><b>AFK</b> (сокращение от англ. away from the keyboard — отошёл от клавиатуры) — это состояние игрока, когда его персонаж находится на сервере, но сам игрок не использует в данный момент устройство, на котором работает клиент игры.</p></li>
						<li><p><b>Баг</b> (от англ. bug) — программная ошибка, то есть поведение программы, не соответствующее задуманному разработчиком. Такие ошибки могут быть как незаметными или незначительными, так и приводить к аварийному завершению игры или потере данных.</p></li>
						<li><p><b>Вайп</b> (от англ. wipe — стирание) — полное удаление какой-либо информации. В отношении к Minecraft данным термином называют полное стирание игровой карты — всех построек, блоков и прочее. То есть карта удаляется, а вместо неё генерируется новая.</p></li>
						<li><p><b>Гриферство</b> или <b>грифинг</b> (от англ. griefing — вредительство) — акт нанесения морального или материального ущерба людям в компьютерных играх. Иными словами, это игровой вандализм. В Minecraft гриферство, в основном, осуществляется путём разрушения чужих построек или внесением в них вредных или несанкционированных изменений, лишением игроков полученного игрового имущества.</p></li>
						<li><p><b>Дюп</b> (от англ. сокращения dupe, duplicate — дублирование) — ошибка в игре, которая позволяет игроку клонировать имеющиеся у него предметы.</p></li>
						<li><p><b>Краш</b> (от англ. crash — крушение) — аварийное завершение игры.</p></li>
						<li><p><b>Откат</b> — в многопользовательской игре это загрузка более старой версии определённого участка карты или всей карты в целом из сохранённой базы данных сервера. Откат происходит по техническим (нештатное отключение питания компьютера) или игровым (нападение гриферов) причинам.</p></li>
						<li><p><b>TPS</b> (сокр. от англ. Ticks per Second) — количество тактов в секунду. Чем выше этот показатель, тем производительнее работает сервер. Нормальный показатель TPS в игре и на сервере — 18-20.0.</p></li>
						<li><p><b>FPS</b> (сокращение от англ. Frames per Second) — количество кадров за секунду. Чем выше этот показатель, тем «плавнее» сменяется изображение на экране.</p></li>
						<li><p><b>Флуд</b> (от англ. chunk) — размещение большого количества однородной информации или бесполезных символов.</p></li>
						<li><p><b>Капс</b>(от англ. chunk) — написание текста заглавными буквами.Перманентный - Постоянный, непрерывный.</p></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{% endblock %}